# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [2]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1pip

# Read in Data

In [3]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("total AR store.csv")

X = df.copy()
X = X.drop(['Unnamed: 0', 'exp4$Customer_ID_AR', 'Customer_ID_AR'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733077 entries, 0 to 733076
Columns: 243 entries, Unnamed: 0 to Zara.Home
dtypes: bool(241), int64(2)
memory usage: 179.7 MB

In [4]:
X.head()
X.shape

,Aldo,Aldo.Accessories,Alex.and.Ani,AllSaints,American.Eagle.Outfitters,Ann.Taylor,Anthropologie,Apple,Arc.teryx,Aritzia,...,West.Expansion.NS.Corridor.Entrance.1,West.Expansion.West.Entrance,White.House.Black.Market,Wilfred,Williams.Sonoma,WirelessWave,Wolford,Xpress,Zara,Zara.Home
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

(733077, 240)

In [12]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.01, use_colnames=True)

Wall time: 20.9 s

In [13]:
frequent_itemsets.head(10)

    support                     itemsets
0  0.012562                       (Aldo)
1  0.012358           (Aldo.Accessories)
2  0.025739  (American.Eagle.Outfitters)
3  0.042402                      (Apple)
4  0.011704            (Armani.Exchange)
5  0.010021            (Atelier.Cologne)
6  0.017684                      (Aveda)
7  0.010160                         (B2)
8  0.021071            (Banana.Republic)
9  0.072209   (Banana.Republic.Entrance)

In [7]:
frequent_itemsets.tail(10)

    support                 itemsets
0  0.254283              (Dine.on.3)
1  0.195025           (Hudson.s.Bay)
2  0.109993  (Hudson.s.Bay.Corridor)
3  0.145131    (Sport.Chek.Entrance)

In [14]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

     support                 itemsets
21  0.254283              (Dine.on.3)
36  0.195025           (Hudson.s.Bay)
84  0.145131    (Sport.Chek.Entrance)
37  0.109993  (Hudson.s.Bay.Corridor)
41  0.073305        (Indigo.Entrance)

In [15]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [10]:
frequent_itemsets.head()

    support                 itemsets  length
0  0.254283              (Dine.on.3)       1
1  0.195025           (Hudson.s.Bay)       1
2  0.109993  (Hudson.s.Bay.Corridor)       1
3  0.145131    (Sport.Chek.Entrance)       1

In [16]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2)  ]

      support                                           itemsets  length
106  0.011626             (Dine.on.3, American.Eagle.Outfitters)       2
107  0.011437          (Hudson.s.Bay, American.Eagle.Outfitters)       2
108  0.013452                                 (Dine.on.3, Apple)       2
109  0.012578                       (Dine.on.3, Banana.Republic)       2
110  0.022101              (Dine.on.3, Banana.Republic.Entrance)       2
..        ...                                                ...     ...
172  0.011202  (Hudson.s.Bay, Hudson.s.Bay.Corridor.Entrance,...       3
173  0.010410  (Hudson.s.Bay, Hudson.s.Bay.Corridor, Sport.Ch...       3
174  0.011332  (Hudson.s.Bay, Hudson.s.Bay.Corridor, The.Chee...       3
175  0.010234  (Hudson.s.Bay, Indigo.Entrance, Sport.Chek.Ent...       3
176  0.010812  (Hudson.s.Bay, Victorias.Secret, The.Cheesecak...       3

[71 rows x 3 columns]

In [19]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.5)

Wall time: 6.82 ms

In [20]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Banana.Republic),(Dine.on.3),0.021071,0.254283,0.012578,0.596944,2.347559,0.007220,1.850159,1
1,(Crate...Barrel),(Dine.on.3),0.019036,0.254283,0.011711,0.615192,2.419319,0.006870,1.937892,1
2,(Old.Navy),(Dine.on.3),0.022205,0.254283,0.011763,0.529733,2.083244,0.006116,1.585732,1
3,(Famous.Players.Escalator),(Sport.Chek.Entrance),0.028736,0.145131,0.014563,0.506788,3.491943,0.010393,1.733270,1
4,(The.Cheesecake.Factory.Entrance),(Hudson.s.Bay),0.053320,0.195025,0.028592,0.536226,2.749531,0.018193,1.735706,1
5,(Victorias.Secret),(Hudson.s.Bay),0.041780,0.195025,0.021099,0.504995,2.589394,0.012951,1.626198,1
6,(Shoppers.Drug.Mart),(Hudson.s.Bay.Corridor),0.022045,0.109993,0.012529,0.568344,5.167110,0.010105,2.061842,1
7,(Indigo),(Indigo.Entrance),0.020501,0.073305,0.010873,0.530375,7.235205,0.009371,1.973265,1
8,(Indigo),(Sport.Chek.Entrance),0.020501,0.145131,0.012965,0.632377,4.357295,0.009989,2.325399,1
9,(Indigo.Entrance),(Sport.Chek.Entrance),0.073305,0.145131,0.046155,0.629629,4.338357,0.035516,2.308143,1
10,"(Dine.on.3, Hudson.s.Bay.Corridor)",(Hudson.s.Bay),0.044418,0.195025,0.022869,0.514864,2.639996,0.014207,1.659278,2
11,"(Hudson.s.Bay.Corridor, Sport.Chek.Entrance)",(Dine.on.3),0.019945,0.254283,0.011273,0.565214,2.222777,0.006201,1.715137,2
12,"(Dine.on.3, Indigo.Entrance)",(Sport.Chek.Entrance),0.023920,0.145131,0.016769,0.701055,4.830507,0.013298,2.859621,2
13,"(Hudson.s.Bay, Hudson.s.Bay.Corridor.Entrance)",(Hudson.s.Bay.Corridor),0.019003,0.109993,0.011202,0.589477,5.359243,0.009112,2.167983,2
14,"(Hudson.s.Bay.Corridor.Entrance, Hudson.s.Bay....",(Hudson.s.Bay),0.020121,0.195025,0.011202,0.556746,2.854747,0.007278,1.816058,2
15,"(Hudson.s.Bay.Corridor, Sport.Chek.Entrance)",(Hudson.s.Bay),0.019945,0.195025,0.010410,0.521921,2.676179,0.006520,1.683769,2
16,"(Hudson.s.Bay.Corridor, The.Cheesecake.Factory)",(Hudson.s.Bay),0.017854,0.195025,0.011332,0.634704,3.254481,0.007850,2.203622,2
17,"(Hudson.s.Bay, Indigo.Entrance)",(Sport.Chek.Entrance),0.015041,0.145131,0.010234,0.680392,4.688131,0.008051,2.674741,2
18,"(Hudson.s.Bay, Victorias.Secret)",(The.Cheesecake.Factory),0.021099,0.069989,0.010812,0.512446,7.321852,0.009335,1.907504,2
19,"(Victorias.Secret, The.Cheesecake.Factory)",(Hudson.s.Bay),0.018489,0.195025,0.010812,0.584772,2.998454,0.007206,1.938635,2

In [22]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.5) &
       (rules['lift'] > 1.2) ].sort_values(by="support", ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
10,"(Dine.on.3, Hudson.s.Bay.Corridor)",(Hudson.s.Bay),0.044418,0.195025,0.022869,0.514864,2.639996,0.014207,1.659278,2
12,"(Dine.on.3, Indigo.Entrance)",(Sport.Chek.Entrance),0.023920,0.145131,0.016769,0.701055,4.830507,0.013298,2.859621,2
16,"(Hudson.s.Bay.Corridor, The.Cheesecake.Factory)",(Hudson.s.Bay),0.017854,0.195025,0.011332,0.634704,3.254481,0.007850,2.203622,2
11,"(Hudson.s.Bay.Corridor, Sport.Chek.Entrance)",(Dine.on.3),0.019945,0.254283,0.011273,0.565214,2.222777,0.006201,1.715137,2
13,"(Hudson.s.Bay, Hudson.s.Bay.Corridor.Entrance)",(Hudson.s.Bay.Corridor),0.019003,0.109993,0.011202,0.589477,5.359243,0.009112,2.167983,2
14,"(Hudson.s.Bay.Corridor.Entrance, Hudson.s.Bay....",(Hudson.s.Bay),0.020121,0.195025,0.011202,0.556746,2.854747,0.007278,1.816058,2
18,"(Hudson.s.Bay, Victorias.Secret)",(The.Cheesecake.Factory),0.021099,0.069989,0.010812,0.512446,7.321852,0.009335,1.907504,2
19,"(Victorias.Secret, The.Cheesecake.Factory)",(Hudson.s.Bay),0.018489,0.195025,0.010812,0.584772,2.998454,0.007206,1.938635,2
15,"(Hudson.s.Bay.Corridor, Sport.Chek.Entrance)",(Hudson.s.Bay),0.019945,0.195025,0.010410,0.521921,2.676179,0.006520,1.683769,2
17,"(Hudson.s.Bay, Indigo.Entrance)",(Sport.Chek.Entrance),0.015041,0.145131,0.010234,0.680392,4.688131,0.008051,2.674741,2

In [ ]:
rules[ (rules['antecedents'].apply(lambda x: 'Eggs' in x)) & (rules['antecedent_len'] >=2) ]