# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [2]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1pip

# Read in Data

In [5]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("Category Visits Luxury Segment.csv")

X = df.copy()
X = X.drop(['Unnamed: 0', 'Visit_ID_AR', 'Visit_ID', 'Entrance', 'Corridor', 'Customer_ID'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139302 entries, 0 to 139301
Data columns (total 31 columns):
Unnamed: 0                        139302 non-null int64
Visit_ID_AR                       139302 non-null float64
Visit_ID                          139302 non-null bool
Bank                              139302 non-null bool
Children...Infants.Apparel        139302 non-null bool
Corridor                          139302 non-null bool
Electronics                       139302 non-null bool
Entrance                          139302 non-null bool
Family.Apparel                    139302 non-null bool
Fashion.Accessories               139302 non-null bool
Food.Court                        139302 non-null bool
Footwear                          139302 non-null bool
Full.Service.Restaurants          139302 non-null bool
Furniture...Home.Furnishings      139302 non-null bool
General.merch...variety.stores    139302 non-null bool
Health...Beauty                   139302 non-null bool
Jewellery                         139302 non-null bool
Large.Format                      139302 non-null bool
Mens.Apparel                      139302 non-null bool
Non.Food.Court.Fast.Food          139302 non-null bool
Office.supply.stationary.gifts    139302 non-null bool
Other.Services                    139302 non-null bool
Personal.Care.Services            139302 non-null bool
Recreation                        139302 non-null bool
Specialty.Apparel                 139302 non-null bool
Specialty.Food.Stores             139302 non-null bool
Specialty.Leasing                 139302 non-null bool
Unassigned                        139302 non-null bool
Washroom                          139302 non-null bool
Womens.Apparel                    139302 non-null bool
Customer_ID                       139302 non-null int64
dtypes: bool(28), float64(1), int64(2)
memory usage: 6.9 MB

In [6]:
X.head()
X.shape

,Bank,Children...Infants.Apparel,Electronics,Family.Apparel,Fashion.Accessories,Food.Court,Footwear,Full.Service.Restaurants,Furniture...Home.Furnishings,General.merch...variety.stores,...,Office.supply.stationary.gifts,Other.Services,Personal.Care.Services,Recreation,Specialty.Apparel,Specialty.Food.Stores,Specialty.Leasing,Unassigned,Washroom,Womens.Apparel
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

(139302, 25)

In [7]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.1, use_colnames=True)

Wall time: 118 ms

In [ ]:
frequent_itemsets.head(10)

In [ ]:
frequent_itemsets.tail(10)

In [8]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

     support                        itemsets
7   0.686150                  (Large.Format)
1   0.408106                (Family.Apparel)
3   0.350060                    (Food.Court)
17  0.317662  (Large.Format, Family.Apparel)
21  0.273033      (Large.Format, Food.Court)

In [9]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [ ]:
frequent_itemsets.head()

In [11]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2)  ].sort_values(by=['support'], ascending=False)

     support                                        itemsets  length
17  0.317662                  (Large.Format, Family.Apparel)       2
21  0.273033                      (Large.Format, Food.Court)       2
28  0.200442                  (Large.Format, Womens.Apparel)       2
23  0.186336                        (Large.Format, Footwear)       2
13  0.178425                    (Food.Court, Family.Apparel)       2
24  0.171117                 (Large.Format, Health...Beauty)       2
12  0.153666                     (Large.Format, Electronics)       2
25  0.152618                       (Large.Format, Jewellery)       2
29  0.150364      (Large.Format, Food.Court, Family.Apparel)       3
18  0.141613                (Family.Apparel, Womens.Apparel)       2
14  0.128993                      (Footwear, Family.Apparel)       2
31  0.120156  (Large.Format, Family.Apparel, Womens.Apparel)       3
22  0.116208                    (Food.Court, Womens.Apparel)       2
27  0.115906                        (Large.Format, Washroom)       2
15  0.114234               (Health...Beauty, Family.Apparel)       2
26  0.111176               (Large.Format, Specialty.Apparel)       2
30  0.110494        (Large.Format, Family.Apparel, Footwear)       3
19  0.108017                          (Food.Court, Footwear)       2
11  0.107565                   (Family.Apparel, Electronics)       2
20  0.103179                   (Health...Beauty, Food.Court)       2
16  0.101226                     (Jewellery, Family.Apparel)       2

In [12]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.8)

Wall time: 5.72 ms

In [14]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Footwear),(Large.Format),0.230470,0.68615,0.186336,0.808503,1.178319,0.028199,1.638935,1
1,(Health...Beauty),(Large.Format),0.209150,0.68615,0.171117,0.818157,1.192389,0.027609,1.725941,1
2,(Specialty.Apparel),(Large.Format),0.133315,0.68615,0.111176,0.833935,1.215383,0.019702,1.889921,1
3,(Washroom),(Large.Format),0.143573,0.68615,0.115906,0.807300,1.176566,0.017394,1.628700,1
4,"(Food.Court, Family.Apparel)",(Large.Format),0.178425,0.68615,0.150364,0.842728,1.228199,0.027938,1.995588,2
5,"(Footwear, Family.Apparel)",(Large.Format),0.128993,0.68615,0.110494,0.856586,1.248396,0.021985,2.188428,2
6,"(Family.Apparel, Womens.Apparel)",(Large.Format),0.141613,0.68615,0.120156,0.848482,1.236584,0.022988,2.071371,2

In [15]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.8) &
       (rules['lift'] > 1.2) ].sort_values(by="support", ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
4,"(Food.Court, Family.Apparel)",(Large.Format),0.178425,0.68615,0.150364,0.842728,1.228199,0.027938,1.995588,2
6,"(Family.Apparel, Womens.Apparel)",(Large.Format),0.141613,0.68615,0.120156,0.848482,1.236584,0.022988,2.071371,2
5,"(Footwear, Family.Apparel)",(Large.Format),0.128993,0.68615,0.110494,0.856586,1.248396,0.021985,2.188428,2

In [16]:
rules.to_csv(r'Categories_Rules.csv')