# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [2]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1pip

# Read in Data

In [10]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("AR Visits Full no ent.csv")

X = df.copy()
X = X.drop(['Unnamed: 0','exp4$Visit_ID_AR','Visit_ID_AR', 'Dine.on.3', 'The.Cheesecake.Factory.Entrance','Hudson.s.Bay.Corridor.Entrance', 'Hudson.s.Bay.Corridor', 'West.Expansion.Corridor.NS.Entrance.2', 'North.Corridor.Entrance', 'Sport.Chek.Entrance', 'Indigo.Entrance', 'Banana.Republic.Entrance', 'Hudson.s.Bay', 'Victorias.Secret','The.Cheesecake.Factory'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776014 entries, 0 to 776013
Columns: 243 entries, Unnamed: 0 to Zara.Home
dtypes: bool(241), float64(1), int64(1)
memory usage: 190.2 MB

In [7]:
X.head()
X.shape

,Aldo,Aldo.Accessories,Alex.and.Ani,AllSaints,American.Eagle.Outfitters,Ann.Taylor,Anthropologie,Apple,Arc.teryx,Aritzia,...,West.Expansion.NS.Corridor.Entrance.1,West.Expansion.West.Entrance,White.House.Black.Market,Wilfred,Williams.Sonoma,WirelessWave,Wolford,Xpress,Zara,Zara.Home
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

(776014, 230)

In [11]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.005, use_colnames=True)

Wall time: 55.5 s

In [ ]:
frequent_itemsets.head(10)

In [ ]:
frequent_itemsets.tail(10)

In [12]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

      support                     itemsets
6    0.051909                      (Apple)
169  0.051888                     (Uniqlo)
63   0.048171     (Holt.Renfrew.Back.Door)
37   0.047381  (Crate.and.Barrel.Entrance)
49   0.043104                 (Forever.21)

In [13]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [ ]:
frequent_itemsets.head()

In [14]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2)  ]

      support                                itemsets  length
184  0.006575                    (Club.Monaco, Apple)       2
185  0.007506         (Holt.Renfrew.Back.Door, Apple)       2
186  0.008019                     (North.Face, Apple)       2
187  0.006077               (Canada.Goose, Nordstrom)       2
188  0.010755  (Microsoft, Joey.Restaurants.Entrance)       2

In [15]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.01)

Wall time: 5.71 ms

In [16]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Club.Monaco),(Apple),0.018467,0.051909,0.006575,0.356011,6.858395,0.005616,1.472217,1
1,(Apple),(Club.Monaco),0.051909,0.018467,0.006575,0.126657,6.858395,0.005616,1.123880,1
2,(Holt.Renfrew.Back.Door),(Apple),0.048171,0.051909,0.007506,0.155828,3.001951,0.005006,1.123102,1
3,(Apple),(Holt.Renfrew.Back.Door),0.051909,0.048171,0.007506,0.144606,3.001951,0.005006,1.112737,1
4,(North.Face),(Apple),0.041051,0.051909,0.008019,0.195348,3.763285,0.005888,1.178262,1
5,(Apple),(North.Face),0.051909,0.041051,0.008019,0.154486,3.763285,0.005888,1.134161,1
6,(Canada.Goose),(Nordstrom),0.019371,0.029648,0.006077,0.313731,10.581972,0.005503,1.413953,1
7,(Nordstrom),(Canada.Goose),0.029648,0.019371,0.006077,0.204981,10.581972,0.005503,1.233467,1
8,(Microsoft),(Joey.Restaurants.Entrance),0.030121,0.033649,0.010755,0.357063,10.611451,0.009741,1.503027,1
9,(Joey.Restaurants.Entrance),(Microsoft),0.033649,0.030121,0.010755,0.319623,10.611451,0.009741,1.425503,1

In [17]:
rules.sort_values(by=['confidence'], ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
8,(Microsoft),(Joey.Restaurants.Entrance),0.030121,0.033649,0.010755,0.357063,10.611451,0.009741,1.503027,1
0,(Club.Monaco),(Apple),0.018467,0.051909,0.006575,0.356011,6.858395,0.005616,1.472217,1
9,(Joey.Restaurants.Entrance),(Microsoft),0.033649,0.030121,0.010755,0.319623,10.611451,0.009741,1.425503,1
6,(Canada.Goose),(Nordstrom),0.019371,0.029648,0.006077,0.313731,10.581972,0.005503,1.413953,1
7,(Nordstrom),(Canada.Goose),0.029648,0.019371,0.006077,0.204981,10.581972,0.005503,1.233467,1
4,(North.Face),(Apple),0.041051,0.051909,0.008019,0.195348,3.763285,0.005888,1.178262,1
2,(Holt.Renfrew.Back.Door),(Apple),0.048171,0.051909,0.007506,0.155828,3.001951,0.005006,1.123102,1
5,(Apple),(North.Face),0.051909,0.041051,0.008019,0.154486,3.763285,0.005888,1.134161,1
3,(Apple),(Holt.Renfrew.Back.Door),0.051909,0.048171,0.007506,0.144606,3.001951,0.005006,1.112737,1
1,(Apple),(Club.Monaco),0.051909,0.018467,0.006575,0.126657,6.858395,0.005616,1.123880,1

In [18]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.1) &
       (rules['lift'] > 1.1) ].sort_values(by="support", ascending=False)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, antecedent_len]
Index: []

In [ ]:
rules[ (rules['antecedents'].apply(lambda x: 'Microsoft' in x)) & (rules['antecedent_len'] >=1) ]

In [19]:
rules.to_csv(r'All Customers Stores_Rules.csv')