# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [3]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1pip

# Read in Data

In [25]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("AR Stores v3.csv")

X = df.copy()
X = X.drop(['Unnamed: 0', 'exp4$Customer_ID_AR', 'Customer_ID_AR'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733077 entries, 0 to 733076
Columns: 243 entries, Unnamed: 0 to Zara.Home
dtypes: bool(241), int64(2)
memory usage: 179.7 MB

In [26]:
X.head()
X.shape

,Aldo,Aldo.Accessories,Alex.and.Ani,AllSaints,American.Eagle.Outfitters,Ann.Taylor,Anthropologie,Apple,Arc.teryx,Aritzia,...,West.Expansion.NS.Corridor.Entrance.1,West.Expansion.West.Entrance,White.House.Black.Market,Wilfred,Williams.Sonoma,WirelessWave,Wolford,Xpress,Zara,Zara.Home
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

(733077, 240)

In [27]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.1, use_colnames=True)

Wall time: 1.65 s

In [28]:
frequent_itemsets.head(10)

    support                 itemsets
0  0.254283              (Dine.on.3)
1  0.195025           (Hudson.s.Bay)
2  0.109993  (Hudson.s.Bay.Corridor)
3  0.145131    (Sport.Chek.Entrance)

In [15]:
frequent_itemsets.tail(10)

    support                   itemsets
0  0.338240                (Dine.on.3)
1  0.119715              (Harry.Rosen)
2  0.127194             (Holt.Renfrew)
3  0.257810             (Hudson.s.Bay)
4  0.155480    (Hudson.s.Bay.Corridor)
5  0.110008                (Nordstrom)
6  0.109034     (Restoration.Hardware)
7  0.153142      (Sport.Chek.Entrance)
8  0.109382  (Dine.on.3, Hudson.s.Bay)

In [29]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

    support                 itemsets
0  0.254283              (Dine.on.3)
1  0.195025           (Hudson.s.Bay)
3  0.145131    (Sport.Chek.Entrance)
2  0.109993  (Hudson.s.Bay.Corridor)

In [30]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [31]:
frequent_itemsets.head()

    support                 itemsets  length
0  0.254283              (Dine.on.3)       1
1  0.195025           (Hudson.s.Bay)       1
2  0.109993  (Hudson.s.Bay.Corridor)       1
3  0.145131    (Sport.Chek.Entrance)       1

In [35]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2)  ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [22]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.8)

Wall time: 5.1 ms

In [23]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, antecedent_len]
Index: []

In [24]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.8) &
       (rules['lift'] > 1.2) ].sort_values(by="support", ascending=False)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, antecedent_len]
Index: []

In [ ]:
rules[ (rules['antecedents'].apply(lambda x: 'Eggs' in x)) & (rules['antecedent_len'] >=2) ]