# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [2]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1

ModuleNotFoundError: No module named 'mlxtend'

# Read in Data

In [3]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("AR Stores v2.csv")

X = df.copy()
X = X.drop(['Unnamed: 0', 'exp4$Customer_ID_AR', 'Customer_ID_AR', 'Corridor', 'Washroom'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36654 entries, 0 to 36653
Data columns (total 32 columns):
Unnamed: 0                        36654 non-null int64
exp4$Customer_ID_AR               36654 non-null int64
Customer_ID_AR                    36654 non-null bool
Bank                              36654 non-null bool
Children...Infants.Apparel        36654 non-null bool
Corridor                          36654 non-null bool
Electronics                       36654 non-null bool
Entrance                          36654 non-null bool
Family.Apparel                    36654 non-null bool
Fashion.Accessories               36654 non-null bool
Food.Court                        36654 non-null bool
Footwear                          36654 non-null bool
Full.Service.Restaurants          36654 non-null bool
Furniture...Home.Furnishings      36654 non-null bool
General.merch...variety.stores    36654 non-null bool
Health...Beauty                   36654 non-null bool
Jewellery                         36654 non-null bool
Large.Format                      36654 non-null bool
Mens.Apparel                      36654 non-null bool
Non.Food.Court.Fast.Food          36654 non-null bool
Office.supply.stationary.gifts    36654 non-null bool
Other.Services                    36654 non-null bool
Personal.Care.Services            36654 non-null bool
Recreation                        36654 non-null bool
Specialty.Apparel                 36654 non-null bool
Specialty.Food.Stores             36654 non-null bool
Specialty.Leasing                 36654 non-null bool
Unassigned                        36654 non-null bool
Washroom                          36654 non-null bool
Womens.Apparel                    36654 non-null bool
Luxury_TF                         36654 non-null bool
Frequent_Visitor                  36654 non-null bool
dtypes: bool(30), int64(2)
memory usage: 1.6 MB

In [ ]:
X.head()
X.shape

In [4]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.5, use_colnames=True)

Wall time: 22min 57s

In [5]:
frequent_itemsets.head(10)

    support                        itemsets
0  0.017133                          (Bank)
1  0.050008    (Children...Infants.Apparel)
2  0.168631                   (Electronics)
3  0.319583                      (Entrance)
4  0.279642                (Family.Apparel)
5  0.076281           (Fashion.Accessories)
6  0.280488                    (Food.Court)
7  0.175124                      (Footwear)
8  0.095078      (Full.Service.Restaurants)
9  0.026764  (Furniture...Home.Furnishings)

In [ ]:
frequent_itemsets.tail(10)

In [6]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

     support          itemsets
12  0.532438    (Large.Format)
3   0.319583        (Entrance)
6   0.280488      (Food.Court)
4   0.279642  (Family.Apparel)
24  0.221477       (Luxury_TF)

In [7]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [8]:
frequent_itemsets.head()

    support                      itemsets  length
0  0.017133                        (Bank)       1
1  0.050008  (Children...Infants.Apparel)       1
2  0.168631                 (Electronics)       1
3  0.319583                    (Entrance)       1
4  0.279642              (Family.Apparel)       1

In [9]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.75) ]

       support                                   itemsets  length
82    0.106673                (Large.Format, Electronics)       2
96    0.117995                 (Entrance, Family.Apparel)       2
98    0.107601                     (Food.Court, Entrance)       2
104   0.217030                   (Entrance, Large.Format)       2
119   0.120914               (Food.Court, Family.Apparel)       2
125   0.196295             (Large.Format, Family.Apparel)       2
137   0.128554                (Luxury_TF, Family.Apparel)       2
164   0.184727                 (Food.Court, Large.Format)       2
182   0.131718                   (Large.Format, Footwear)       2
229   0.124270            (Large.Format, Health...Beauty)       2
267   0.135538             (Large.Format, Womens.Apparel)       2
268   0.185491                  (Large.Format, Luxury_TF)       2
1345  0.107928  (Large.Format, Luxury_TF, Family.Apparel)       3

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'pastry', 'soda'} ]

In [10]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.8)

KeyboardInterrupt:

In [ ]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

In [ ]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.8) &
       (rules['lift'] > 1.2) ].sort_values(by="support", ascending=False)

In [ ]:
rules[ (rules['antecedents'].apply(lambda x: 'Eggs' in x)) & (rules['antecedent_len'] >=2) ]