# Playground for Association Rule Learning slides

- Stephen W. Thomas
- Used for MMA 869, MMAI 869, and GMMA 869

In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Example of converting lists into a dataframe

In [2]:
#dataset = pd.read_csv("AR categories.csv")

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #need to install mlxtend

#te = TransactionEncoder()
#te_ary = te.fit(dataset).transform(dataset)
#df1 = pd.DataFrame(te_ary, columns=te.columns_)
#df1pip

# Read in Data

In [6]:
#df = pd.read_csv("AR categories.csv")

df = pd.read_csv("AR 75 percent categories.csv")

X = df.copy()
X = X.drop(['Unnamed: 0', 'exp4$Customer_ID_AR', 'Customer_ID_AR', 'Corridor', 'Entrance'], axis=1) #axis 0 to drop rows


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917420 entries, 0 to 917419
Data columns (total 30 columns):
Unnamed: 0                        917420 non-null int64
exp4$Customer_ID_AR               917420 non-null int64
Customer_ID_AR                    917420 non-null bool
Bank                              917420 non-null bool
Children...Infants.Apparel        917420 non-null bool
Corridor                          917420 non-null bool
Electronics                       917420 non-null bool
Entrance                          917420 non-null bool
Family.Apparel                    917420 non-null bool
Fashion.Accessories               917420 non-null bool
Food.Court                        917420 non-null bool
Footwear                          917420 non-null bool
Full.Service.Restaurants          917420 non-null bool
Furniture...Home.Furnishings      917420 non-null bool
General.merch...variety.stores    917420 non-null bool
Health...Beauty                   917420 non-null bool
Jewellery                         917420 non-null bool
Large.Format                      917420 non-null bool
Mens.Apparel                      917420 non-null bool
Non.Food.Court.Fast.Food          917420 non-null bool
Office.supply.stationary.gifts    917420 non-null bool
Other.Services                    917420 non-null bool
Personal.Care.Services            917420 non-null bool
Recreation                        917420 non-null bool
Specialty.Apparel                 917420 non-null bool
Specialty.Food.Stores             917420 non-null bool
Specialty.Leasing                 917420 non-null bool
Unassigned                        917420 non-null bool
Washroom                          917420 non-null bool
Womens.Apparel                    917420 non-null bool
dtypes: bool(28), int64(2)
memory usage: 38.5 MB

In [ ]:
X.head()
X.shape

In [7]:
from mlxtend.frequent_patterns import apriori

%time frequent_itemsets = apriori(X, min_support=0.1, use_colnames=True)

Wall time: 336 ms

In [ ]:
frequent_itemsets.head(10)

In [ ]:
frequent_itemsets.tail(10)

In [8]:
frequent_itemsets.sort_values(by=['support'], ascending=False).head()

    support                        itemsets
5  0.504122                  (Large.Format)
2  0.259366                    (Food.Court)
1  0.252329                (Family.Apparel)
7  0.168554  (Large.Format, Family.Apparel)
6  0.168027                (Womens.Apparel)

In [9]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

In [ ]:
frequent_itemsets.head()

In [10]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2)  ]

     support                         itemsets  length
7   0.168554   (Large.Format, Family.Apparel)       2
8   0.162565       (Food.Court, Large.Format)       2
9   0.107684         (Footwear, Large.Format)       2
10  0.102374  (Health...Beauty, Large.Format)       2
11  0.111615   (Womens.Apparel, Large.Format)       2

In [ ]:
from mlxtend.frequent_patterns import association_rules
%time rules = association_rules(frequent_itemsets, min_threshold=0.8)

In [ ]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

In [ ]:
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.8) &
       (rules['lift'] > 1.2) ].sort_values(by="support", ascending=False)

In [ ]:
rules[ (rules['antecedents'].apply(lambda x: 'Eggs' in x)) & (rules['antecedent_len'] >=2) ]